<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deptrai.anhkhoa.demomultiapk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    //hight
    <!--<compatible-screens>-->
        <!--<screen android:screenSize="small" android:screenDensity="xhdpi" />-->
        <!--<screen android:screenSize="small" android:screenDensity="xxhdpi" />-->
        <!--<screen android:screenSize="small" android:screenDensity="xxxhdpi" />-->
        <!--<screen android:screenSize="small" android:screenDensity="360" />-->
        <!--<screen android:screenSize="small" android:screenDensity="420" />-->
        <!--<screen android:screenSize="small" android:screenDensity="480" />-->
        <!--<screen android:screenSize="small" android:screenDensity="560" />-->

        <!--<screen android:screenSize="normal" android:screenDensity="ldpi" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="mdpi" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="hdpi" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="xhdpi" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="xxhdpi" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="xxxhdpi" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="360" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="420" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="480" />-->
        <!--<screen android:screenSize="normal" android:screenDensity="560" />-->

        <!--<screen android:screenSize="large" android:screenDensity="ldpi" />-->
        <!--<screen android:screenSize="large" android:screenDensity="mdpi" />-->
        <!--<screen android:screenSize="large" android:screenDensity="hdpi" />-->
        <!--<screen android:screenSize="large" android:screenDensity="xhdpi" />-->
        <!--<screen android:screenSize="large" android:screenDensity="xxhdpi" />-->
        <!--<screen android:screenSize="large" android:screenDensity="xxxhdpi" />-->
        <!--<screen android:screenSize="large" android:screenDensity="360" />-->
        <!--<screen android:screenSize="large" android:screenDensity="420" />-->
        <!--<screen android:screenSize="large" android:screenDensity="480" />-->
        <!--<screen android:screenSize="large" android:screenDensity="560" />-->

        <!--<screen android:screenSize="xlarge" android:screenDensity="ldpi" />-->
        <!--<screen android:screenSize="xlarge" android:screenDensity="mdpi" />-->
        <!--<screen android:screenSize="xlarge" android:screenDensity="hdpi" />-->
        <!--<screen android:screenSize="xlarge" android:screenDensity="xhdpi" />-->
        <!--<screen android:screenSize="xlarge" android:screenDensity="xxhdpi" />-->
        <!--<screen android:screenSize="xlarge" android:screenDensity="xxxhdpi" />-->
        <!--<screen android:screenSize="xlarge" android:screenDensity="360" />-->
        <!--<screen android:screenSize="xlarge" android:screenDensity="420" />-->
        <!--<screen android:screenSize="xlarge" android:screenDensity="480" />-->
        <!--<screen android:screenSize="xlarge" android:screenDensity="560" />-->
    <!--</compatible-screens>-->

    //low
    <compatible-screens>
    <screen android:screenSize="small" android:screenDensity="ldpi" />
    <screen android:screenSize="small" android:screenDensity="mdpi" />
    <screen android:screenSize="small" android:screenDensity="hdpi" />
    <screen android:screenSize="small" android:screenDensity="280" />
    </compatible-screens>

    <!--<supports-screens-->
        <!--android:compatibleWidthLimitDp="540"/>-->
    <!--<supports-screens-->
        <!--android:requiresSmallestWidthDp="540"/>-->


    <!--<supports-screens-->
    <!--android:resizeable="true"-->
    <!--android:smallScreens="true"-->
    <!--android:normalScreens="true"-->
    <!--android:largeScreens="true"-->
    <!--android:xlargeScreens="false"-->
    <!--android:anyDensity="true" />-->
</manifest>